<!doctype html>
<html>
    <head>
        <title>Download File</title>
        <style>
            body {
              background-color: rgb(214, 224, 236);
            }
        
            h1 {
              color: rgb(16, 61, 92);
              margin-left: 40px;
            }
        
            </style>
    </head>
  <h1>Download File</h1>
  <body class="body">
     <div class="container" align="left" style="margin-left: 40px;">
      <a href="/return-files/{{value}}" target="blank"><button class='btn btn-default'>Download</button></a>
     </div>
  </body>
</html>